*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  list-style: none;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 50px;
  font-size: 28px;
}

.item {
  color: #333333;

}

.item:hover {
  border-bottom: 1px solid #333333;
}


.header {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1376px;
  width: 100%;
  margin: 0 auto;

}


.hero{
  display: flex;
  gap: 59px;
  margin-bottom: 100px;
}

.texthero h1{
  font-size: 60px;

}

.texthero p{
  font-size: 24px;
  margin: 32px 0;
  max-width: 497px;
}

.texthero button {
  padding: 22px 56px;
  font-size: 22px;
  color: #fff;
  background-color: #333333;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}


.imagehero{
  width: 650px;
}

.cardlist{
  display: flex;
  gap: 25px;
  margin-bottom: 48px;

}

.card-container{
  padding: 16px 32px;
  height: 326px;
  border-radius: 16px;
  position: relative;

}

.card-icon{
  position: absolute;
  top: 24px ;
  right: 23px;
}

.card-number{
  font-size: 64px;
  color: #fff;

}

.card-title{
  font-size: 32px;
  color: #333333;
  margin: 16px 0 8px;
  font-weight: bold;

}

.card-description{
  font-size: 18px;
  color: #333333;
}


.left-section h1{
  font-size: 60px;
  max-width: 577px;
}


.left-section{
  max-height: 522px;
  height: 100%;
  border-right: 2px solid #B9B7B7;
}



.iconsv2{
  display: flex;
  gap: 40.52px;
  padding: 61px 0 150px;
}

.iconsv3{
  
  cursor:pointer
}

.forms {
  display: flex;
  flex-direction: column;
  max-width: 507px;
  width: 100%;
  margin-left: 110px;
  position: relative;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.label {
  font-size: 28px;
}

.input{
  border-radius: 16px;
  width: 391px;
  border: 1px solid #E4E4E4;
}

.labelv2{
  font-size: 28px;
}

#mensagem {
  display: block;
  width: 100%;
  height: 229px;
  border-radius: 29px;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
}

.campo-nome{
  display: flex;
  justify-content: space-between;
}

.campo-email{
  display: flex;
  text-wrap: nowrap;
  margin: 37px 0;
}

.button{
  height: 34px;
  border-radius: 6px;
  width: 225px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background-color: #6975e8;
  color: #fff;
  border: none;
  cursor: pointer;
  
}
.planos-container{
  padding: 34px 0 81px;
  background-color: #F4F2F2;
}

.planos-title{
  text-align: center;
  font-size: 28px;
  margin-bottom: 24px;
  color: #333333;
  font-weight: 400;
  line-height: 36.93px;
  letter-spacing: 0.33000001311302185px;

}

.planos-list{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.plano-title{
  border-radius: 25px 25px 0 0 ;
}

.plano-title h2{
  text-align: center;
  padding: 25px 0 29px;
  font-size: 15px;
  color: #333333;
}

.plano-container{
  padding: 0 8px 13px;
  background-color: #fff;
  height: 390px;
  width: 240px;
  position: relative;
}

.plano-info p{
  padding: 23px 0 12px;
  color: #8790A3;
  font-size: 12px;
}

.plano-info select{
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 15px;
  box-shadow: 0px 4px 6px 0px #26323814;
  height: 32px;
  padding: 0 11px;
}

.option{
  font-size: 12px;
  font-weight: 400;
}

.option span{
  font-size: 12px;
  font-weight: bold;
}

.plano-btn {
  position: absolute;
  bottom: 13px;
  right: 7px;
  left: 7px;
  width: 225px;
  height: 34px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.plano-img{
  width: 120px;
  margin: 80px 0 0 50px;
}